<% provide(:title, "About") %>


    <h1>About</h1>
    <p>
    This app is brought to you by <a href="https://goofy-hypatia-4ab2f0.netlify.com/#carousel">Kevin Louis Dath</a>. If you're curious about how this app was built it's largely based on the
    <a href="www.railstutorial.org/book"> Ruby on Rails Tutorial</a> by Michael Hartl .</p>
    <p> If you'd like to compare my code to one more paralleled to the book please checkout the following github repositories.  </p>
    <li> My  <a href="https://github.com/Gazmos83/sample_app">sample_app github repository</a> with modifications</li>
    <li> A <a href=" https://github.com/becky000/sample_app">sample_app repository </a> that is more identical to the Book.</li>
   <br>
   <p> For anyone looking to get a good grasp on Ruby on Rails, The Rails Tutorial book my Michael Hartl comes highly recommended. The author does a good job putting code into layman's terms and the book is completely free online.</p>
