<footer class="footer">
  <small>
    <a href="https://mumstheword.herokuapp.com">Mum's The Word</a>
    by <a href="https://goofy-hypatia-4ab2f0.netlify.com/#carousel">Kevin Louis Dath</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
